body {
    margin: 0 20px;
}

h1 {
    color: #39f;
    text-align: center;
    margin: 30px;
    font-size: 30px
}

h2 {
    font-size: 18px;
    color: #fff;
    background: rgb(51, 153, 255);
    padding: 10px;
    margin: 0;
    margin-top: 5px;
}

a {
    text-decoration: none;
}

h2 a {
    color: yellow;
}
